[submodule "tests/thirdparty/gbenchmark"]
	path = tests/thirdparty/gbenchmark
	url = https://github.com/google/benchmark.git
[submodule "tests/thirdparty/Catch2"]
	path = tests/thirdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
